.u-section-1 .u-sheet-1 {
  min-height: 944px;
}

.u-section-1 .u-table-1 {
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-6 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-1 .u-table-cell-10 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-1 .u-table-cell-14 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-1 .u-table-cell-18 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-cell-6 {
    margin-right: 416px;
    margin-left: 416px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-right: 416px;
    margin-left: 416px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-right: 416px;
    margin-left: 416px;
  }

  .u-section-1 .u-table-cell-18 {
    margin-right: 416px;
    margin-left: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-cell-6 {
    margin-right: 306px;
    margin-left: 306px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-right: 306px;
    margin-left: 306px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-right: 306px;
    margin-left: 306px;
  }

  .u-section-1 .u-table-cell-18 {
    margin-right: 306px;
    margin-left: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-cell-6 {
    margin-right: 243px;
    margin-left: 243px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-right: 243px;
    margin-left: 243px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-right: 243px;
    margin-left: 243px;
  }

  .u-section-1 .u-table-cell-18 {
    margin-right: 243px;
    margin-left: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 27px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1122px;
}

.u-section-2 .u-table-1 {
  margin: 84px 0 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-6 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-2 .u-table-cell-10 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-2 .u-table-cell-14 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-2 .u-table-cell-18 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-2 .u-table-2 {
  margin-top: 90px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-2 {
  min-height: 100px;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  background-image: none;
}

.u-section-2 .u-table-cell-30 {
  background-image: none;
}

.u-section-2 .u-table-cell-31 {
  background-image: none;
}

.u-section-2 .u-table-cell-32 {
  background-image: none;
}

.u-section-2 .u-table-body-2 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-34 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-2 .u-table-cell-38 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

.u-section-2 .u-table-cell-42 {
  width: 106px;
  margin-right: 564px;
  margin-left: 470px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-cell-6 {
    margin-right: 416px;
    margin-left: 416px;
  }

  .u-section-2 .u-table-cell-10 {
    margin-right: 416px;
    margin-left: 416px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 416px;
    margin-left: 416px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-right: 416px;
    margin-left: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-cell-6 {
    margin-right: 306px;
    margin-left: 306px;
  }

  .u-section-2 .u-table-cell-10 {
    margin-right: 306px;
    margin-left: 306px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 306px;
    margin-left: 306px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-right: 306px;
    margin-left: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-cell-6 {
    margin-right: 243px;
    margin-left: 243px;
  }

  .u-section-2 .u-table-cell-10 {
    margin-right: 243px;
    margin-left: 243px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 243px;
    margin-left: 243px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-right: 243px;
    margin-left: 243px;
  }
}